<%=render :partial=>'form',:locals=>{:button_name=>'Create',:heading=>'Create vle_document'} %>
<div class="bottom_links">
    <a href="/admin/vle_documents" class="more">&larr; List All VLE Documents</a>
</div>

