<%=render :partial=>'form',:locals=>{:button_name=>'Update',:heading=>'Edit Bank'}%>
<div class="bottom_links">
<a href="@insurances" class="more">&larr; All Banks</a>
  <%= link_to @insurance,:class=>'more' do %>
  Show Profile &uarr; 
 <% end %>
</div>
