<% for insurance_transaction in @recent_insurance_transactions %>
<li class="" id="recent_insurance_transaction_<%= insurance_transaction.id%>">
    <dt>   
		<%=link_to insurance_transaction.policy_number,insurance_transaction_path(insurance_transaction)%>
    </dt>
    <tt>
       <br/>
    </tt>
</li>
<% end %>
