<%= render :partial=>'form',:locals=>{:button_name=>'Create',:heading=>'Create New insurance_transaction'} %>
<div class="bottom_links">
<a href="/insurance_transactions" class="more">&larr; All Insurance Transactions</a>
</div>
