<%= render :partial=>'form',:locals=>{:button_name=>'Create',:heading=>'New Insurance Transaction'} %>
<div class="bottom_links">
<a href="/insurance_transactions" class="more">All Insurance Transactions</a>
</div>
