<%=render :partial=>'form',:locals=>{:button_name=>'Create',:heading=>'New Account Type'} %>
<div class="bottom_links">
    <a href="/admin/account_types" class="more">&larr; List All Account Types</a>
</div>

