<%=render :partial=>'form',:locals=>{:button_name=>'Create',:heading=>'Create csc_block'} %>
<div class="bottom_links">
    <a href="/admin/csc_blocks" class="more">&larr; List All CSC Blocks</a>
</div>

