<% for banking in @recent_bankings %>
<li class="" id="recent_banking_<%= banking.id%>">
    <dt>   
		<%=link_to banking.account_number,banking_path(banking)%>
    </dt>
    <tt>
       <br/>
    </tt>
</li>
<% end %>
