<%=render :partial=>'form',:locals=>{:button_name=>'Create',:heading=>'Create Bidding Zone'} %>
<div class="bottom_links">
    <a href="/admin/bidding_zones" class="more">&larr; List All Bidding Zones</a>
</div>

