<%=render :partial=>'form',:locals=>{:button_name=>'Create',:heading=>'Create district'} %>
<div class="bottom_links">

    <a href="/admin/districts" class="more">&larr; List All districts</a>
</div>

