<% for transaction in @recent_transactions %>
<li class="" id="recent_transaction_<%= transaction.id%>">
    <dt>   
		<%=link_to truncate(transaction.bank_name,:length=>27),transaction_path(transaction)%>
    </dt>
    <tt>
       <br/>
    </tt>
</li>
<% end %>
