<!DOCTYPE html>
<html>
<head>
  <title>CSCOne</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'prototype','application','rails','controls','effects' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>

